body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;

}

#board {
    display: grid;
}

/* .row {
    border: 1px solid gray; 

} */

.box {
    border: 1px solid white;
    display: flex;
}