body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(29, 29, 27);
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

button {
    padding: 6px 12px;
    background-color: grey;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 6px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    transform: translateY(-3px);
}

#board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px auto;
    width: 820px;
}

.row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 2fr
}

.row .text-box h1 {
    font-size: 1.2rem;
    color: lightskyblue;
    align-items: left;
}

.row .text-box {
    color: white;
    font-size: 1rem;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.row .red-text-box {
    color: lightcoral;
    font-size: 1rem;
    padding: 15px;
    align-items: center;
    justify-content: flex-start;
    ;
    display: flex;
    width: 173.5px;
}

.box {
    width: 70px;
    height: 70px;
    font-size: 2rem;
    border: 2px solid grey;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 5px;
    transform-style: preserve-3d;
    perspective: 1000px;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.empty-box {
    width: 70px;
    height: 70px;
    display: flex;
    margin: 5px;
}

.text-box {
    width: 173.5px;
    height: 70px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* end game pop up */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2em;
    border-radius: 10px;
    text-align: center;
    max-width: 40%;
    animation: fadeIn 0.3s ease-in-out;
}

.popup.hidden {
    display: none;
}

/* help popup */
#help-button {
    top: 10px;
    left: 10px;
    padding: 10px;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(135, 206, 250, 0.7);
    font-size: large;
    position: fixed;
}

.help-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    max-height: 80vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
}

#help-popup-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2em;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
    color: whitesmoke;
    width: 70%;
    height: 70%;
    font-size: small;
}

/* tile coloring */
.correct {
    background-color: rgba(106, 170, 100, 255);
    color: white;
    border: 2px solid rgba(106, 170, 100, 255);
}

.included {
    background-color: rgba(201, 180, 88, 255);
    color: white;
    border: 2px solid rgba(201, 180, 88, 255);
}

.notIncluded {
    background-color: rgb(90, 90, 90);
    color: white;
    border: 2px solid rgb(90, 90, 90);
}

.filled {
    border: 2px solid white;
}

/* tile / word animations */
.flip {
    animation: flip 0.5s ease-in-out forwards;
    transform-style: preserve-3d;
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(180deg);
    }
}

.fly-in {
    animation: flyIn 0.5s ease forwards;
}

.fly-out {
    animation: flyOut 0.5s ease forwards;
}

@keyframes flyIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes flyOut {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(50px);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}